<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Django + Stripe</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="min-vh-100 bg-light">
      <div class="row m-0 p-0 justify-content-between">
        <!-- We assume that the products have at least 3 items -->
        <!-- TODO: add condition to handle empty products -->
        <!-- TODO: add better handling like pagination, initite scroll, etc -->
        <div class="col-md-4 m-0 p-2">
          <div class="card shadow">
            <div class="m-2">
              <img
                src="https://media.discordapp.net/attachments/858938620425404426/1143936252723335259/89737422_p0.jpg"
                class="card-img-top border rounded shadow-sm"
                alt=""
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ products.0.name}}</h5>
              <p class="card-text">{{ products.0.description}}</p>
              <div class="text-center">
                <a href="#" class="btn btn-primary"
                  >Checkout ${{ products.0.price }}</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 m-0 p-2">
          <div class="card shadow">
            <div class="m-2">
              <img
                src="https://media.discordapp.net/attachments/858938620425404426/1143936252723335259/89737422_p0.jpg"
                class="card-img-top border rounded shadow-sm"
                alt=""
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ products.1.name}}</h5>
              <p class="card-text">{{ products.1.description}}</p>
              <div class="text-center">
                <a href="#" class="btn btn-primary"
                  >Checkout ${{ products.1.price }}</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 m-0 p-2">
          <div class="card shadow">
            <div class="m-2">
              <img
                src="https://media.discordapp.net/attachments/858938620425404426/1143936252723335259/89737422_p0.jpg"
                class="card-img-top border rounded shadow-sm"
                alt=""
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ products.2.name}}</h5>
              <p class="card-text">{{ products.2.description}}</p>
              <div class="text-center">
                <a href="#" class="btn btn-primary"
                  >Checkout ${{ products.2.price }}</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
